<html>
  <head>
      <title>Music Peer</title>
  </head>
  <body>
    </div>
      <div class="row">
        <div class="column">
          Music Peer :
          {% if joined or loggedin %}
            <a href="{{url_for('index')}}">Logout</a>
          {% else %}
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('signup')}}">SignUp</a>
          {% endif %}
        </div>

        <div class="column">
          <form role="search">
            <div class="search-control">
                <input type="search" id="site-search" name="q"
                       placeholder="Search the site..."
                       aria-label="Search through site content">
                <button>Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </body>
</html>
